html, body {
    background: #222222;
    color: #F1F1F1;
    font-family: Verdana, sans-serif;
}

#wrapper {
    border-top: 4px solid #F1F1F1;
}

.menu {
    border: 4px solid #F1F1F1;
}

    .menuElement {
    }

.matchmaking {
    border: 4px solid #F1F1F1;
}

.matchmakingHeader {
    border-bottom: 4px solid #F1F1F1;
}

.gameBoard {
    border: 4px solid #F1F1F1;
}

.uiButton, .uiFile {
    border: 4px solid #F1F1F1;
}

.gameAlert {
    background: #222222;
    padding: 24px;
    border: 4px solid #F1F1F1;
  }
