
.gameBoard[data-boardtheme="simple"] {
}

    .gameBoard[data-boardtheme="simple"] .gameBoardRow {
    }

    .gameBoard[data-boardtheme="simple"] .gameBoardTile {
    }

    .gameBoard[data-boardtheme="simple"] .tileBlack {
            background: #111111;
        }

        .gameBoard[data-boardtheme="simple"] .tileWhite {
            background: #F1F1F1;
        }

        .gameBoard[data-boardtheme="simple"] .tileOverlay {
            background-size: 100%;
        }

            .gameBoard[data-boardtheme="simple"] .tileOverlay[data-selector="move"] {
                background-color: rgba(77, 121, 255, 0.6);
            }

            .gameBoard[data-boardtheme="simple"] .tileOverlay[data-selector="capture"] {
                background-color: rgba(255, 26, 26, 0.6)
            }

            .gameBoard[data-boardtheme="simple"] .tileOverlay[data-selector="special"] {
                background-color: rgba(166, 255, 77, 0.6);
            }

            /* Thank you Yuri 'colomolo' Mazursky for the icons */

            .gameBoard[data-boardtheme="simple"] .tileOverlay[data-type="pawn"][data-team="black"] {
                background-image: url("../../../img/icon/themes/board/simple/pawn_black.svg");
            }

            .gameBoard[data-boardtheme="simple"] .tileOverlay[data-type="pawn"][data-team="white"] {
                background-image: url("../../../img/icon/themes/board/simple/pawn_white.svg");
            }

            .gameBoard[data-boardtheme="simple"] .tileOverlay[data-type="rook"][data-team="black"] {
                background-image: url("../../../img/icon/themes/board/simple/rook_black.svg");
            }

            .gameBoard[data-boardtheme="simple"] .tileOverlay[data-type="rook"][data-team="white"] {
                background-image: url("../../../img/icon/themes/board/simple/rook_white.svg");
            }

            .gameBoard[data-boardtheme="simple"] .tileOverlay[data-type="knight"][data-team="black"] {
                background-image: url("../../../img/icon/themes/board/simple/knight_black.svg");
            }

            .gameBoard[data-boardtheme="simple"] .tileOverlay[data-type="knight"][data-team="white"] {
                background-image: url("../../../img/icon/themes/board/simple/knight_white.svg");
            }

            .gameBoard[data-boardtheme="simple"] .tileOverlay[data-type="bishop"][data-team="black"] {
                background-image: url("../../../img/icon/themes/board/simple/bishop_black.svg");
            }

            .gameBoard[data-boardtheme="simple"] .tileOverlay[data-type="bishop"][data-team="white"] {
                background-image: url("../../../img/icon/themes/board/simple/bishop_white.svg");
            }

            .gameBoard[data-boardtheme="simple"] .tileOverlay[data-type="queen"][data-team="black"] {
                background-image: url("../../../img/icon/themes/board/simple/queen_black.svg");
            }

            .gameBoard[data-boardtheme="simple"] .tileOverlay[data-type="queen"][data-team="white"] {
                background-image: url("../../../img/icon/themes/board/simple/queen_white.svg");
            }

            .gameBoard[data-boardtheme="simple"] .tileOverlay[data-type="king"][data-team="black"] {
                background-image: url("../../../img/icon/themes/board/simple/king_black.svg");
            }

            .gameBoard[data-boardtheme="simple"] .tileOverlay[data-type="king"][data-team="white"] {
                background-image: url("../../../img/icon/themes/board/simple/king_white.svg");
            }
			
			
.gameIndicator.indicatorBlack[data-boardtheme="simple"] .indicatorFigure[data-type="pawn"] {
	background-image: url("../../../img/icon/themes/board/simple/pawn_black.svg");
}

.gameIndicator.indicatorWhite[data-boardtheme="simple"] .indicatorFigure[data-type="pawn"] {
	background-image: url("../../../img/icon/themes/board/simple/pawn_white.svg");
}

.gameIndicator.indicatorBlack[data-boardtheme="simple"] .indicatorFigure[data-type="rook"] {
	background-image: url("../../../img/icon/themes/board/simple/rook_black.svg");
}

.gameIndicator.indicatorWhite[data-boardtheme="simple"] .indicatorFigure[data-type="rook"] {
	background-image: url("../../../img/icon/themes/board/simple/rook_white.svg");
}

.gameIndicator.indicatorBlack[data-boardtheme="simple"] .indicatorFigure[data-type="knight"] {
	background-image: url("../../../img/icon/themes/board/simple/knight_black.svg");
}

.gameIndicator.indicatorWhite[data-boardtheme="simple"] .indicatorFigure[data-type="knight"] {
	background-image: url("../../../img/icon/themes/board/simple/knight_white.svg");
}

.gameIndicator.indicatorBlack[data-boardtheme="simple"] .indicatorFigure[data-type="bishop"] {
	background-image: url("../../../img/icon/themes/board/simple/bishop_black.svg");
}

.gameIndicator.indicatorWhite[data-boardtheme="simple"] .indicatorFigure[data-type="bishop"] {
	background-image: url("../../../img/icon/themes/board/simple/bishop_white.svg");
}

.gameIndicator.indicatorBlack[data-boardtheme="simple"] .indicatorFigure[data-type="queen"] {
	background-image: url("../../../img/icon/themes/board/simple/queen_black.svg");
}

.gameIndicator.indicatorWhite[data-boardtheme="simple"] .indicatorFigure[data-type="queen"] {
	background-image: url("../../../img/icon/themes/board/simple/queen_white.svg");
}

.gameIndicator.indicatorBlack[data-boardtheme="simple"] .indicatorFigure[data-type="king"] {
	background-image: url("../../../img/icon/themes/board/simple/king_black.svg");
}

.gameIndicator.indicatorWhite[data-boardtheme="simple"] .indicatorFigure[data-type="king"] {
	background-image: url("../../../img/icon/themes/board/simple/king_white.svg");
}
