html,
body {
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

#title {
    margin: 24px;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 42px;
    font-weight: normal;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: normal;
}

#wrapper {
    position: absolute;
    display: flex;
    top: 168px;
    left: 0;
    right: 0;
    width: 100%;
    min-height: calc(100% - 168px - 4px);
    overflow: hidden;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;

}

.none {
    display: none;
}

#wrapper>* {
    align-self: auto;
    font-size: 18px;
}

.menu {
    position: relative;
    margin: 24px;
    padding: 0;
    list-style: none;
    font-weight: normal;
}

    .menuElement {
        margin: 16px;
    }

.matchmaking {
    position: relative;
    margin: 24px;
    padding: 0;
    font-weight: normal;
}

    .matchmakingHeader {
        height: 51px;
        margin-bottom: 48px;
    }
    
        .headerName {
            position: absolute;
            left: 0;
            margin: 16px;
        }

        .headerId {
            position: absolute;
            right: 0;
            margin: 16px;
        }

    .matchmakingList {
        padding: 0;
        list-style: none;
    }

        .listElement {
            margin: 16px;
        }

        .listElementCell {
            display: inline-block;
            width: 128px;
            margin: 0 32px;
        }

    .matchmakingAlert {
        margin: 0 24px;
    }

        .matchmakingAlert .uiButton, .matchmaking .uiButton {
            margin: 0 24px 24px 24px;
        }

.gameBoard {
    position: relative;
    display: block;
    width: calc(100vh - 290px);
    height: calc(100vh - 290px);
    max-height: calc(100vw - 56px);
    margin: 48px 24px;
    font-weight: normal;
}

.gameBoardRow {
    position: relative;
    display: block;
    width: 100%;
    height: 12.5%;
}

.gameBoardTile {
    position: relative;
    display: inline-block;
    width: 12.5%;
    height: 100%;
}

.tileOverlay {
    width: 100%;
    height: 100%;
}

.gameUI {
    position: relative;
    display: flex;
    width: calc(100vw - (100vh - 242px) - 120px);
    min-width: calc(100vh - 242px + 8px);
    margin: 24px;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.uiButton, .uiFile {
    display: inline-block;
    height: 24px;
    margin: 0 24px 24px 0;
    padding: 12px;
    line-height: 24px;
    text-align: center;
}

.gameIndicator {
	position: absolute;
	left: 0;
	height: 24px;
}

.indicatorBlack {
	bottom: -28px;
}

.indicatorWhite {
    top: -28px;
}

.indicatorFigure {
	position: relative;
	display: inline-block;
	left: unset;
	height: 24px;
    width: 24px;
    margin-right: -16px;
	background-size: 24px;
	background-repeat: no-repeat;
}

.indicatorName {
    position: absolute;
	right: 12px;
	height: 24px;
}

.gameAlert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameAlert .uiButton {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 68px);
    margin: 16px 8px 0 8px;
    transform: none;
}

.uiSeperator {
    width: 100%;
    margin-bottom: 32px;
}

.uiButton[type="text"] {
    margin: 24px;
    background: #222222;
    color: #F1F1F1;
}

.indicatorActive {
    display: none;
}

.indicatorActive[data-active="true"] {
    display: inline-block;
    position: absolute;
    right: -4px;
    width: 4px;
    height: 24px;
    background: #F1F1F1;
}

@media screen and (max-width: calc(100vh - 242px + 8px))  {

    #wrapper > * {
        font-size: 16px;
    }
    
    .gameUI {
        width: calc(100vw - 56px + 8px);
        min-width: 0;
    }

    h1 {
        font-size: 36px;
    }
    
    h2 {
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: normal;
    }
}